.wall__content {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 100px;
    padding: 7px 10px 7px 10px;
}

.body__background-image{
    flex: 1;
    resize: cover;
    justify-content: center;

    min-height: 100%;
    min-width: 800px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}